<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.shop.mapper.LitemallUserMapper">
    
    <resultMap type="LitemallUser" id="LitemallUserResult">
        <result property="id"    column="id"    />
        <result property="username"    column="username"    />
        <result property="password"    column="password"    />
        <result property="gender"    column="gender"    />
        <result property="birthday"    column="birthday"    />
        <result property="lastLoginTime"    column="last_login_time"    />
        <result property="lastLoginIp"    column="last_login_ip"    />
        <result property="userLevel"    column="user_level"    />
        <result property="nickname"    column="nickname"    />
        <result property="mobile"    column="mobile"    />
        <result property="avatar"    column="avatar"    />
        <result property="weixinOpenid"    column="weixin_openid"    />
        <result property="sessionKey"    column="session_key"    />
        <result property="status"    column="status"    />
        <result property="addTime"    column="add_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="deleted"    column="deleted"    />
    </resultMap>

    <sql id="selectLitemallUserVo">
        select id, username, password, gender, birthday, last_login_time, last_login_ip, user_level, nickname, mobile, avatar, weixin_openid, session_key, status, add_time, update_time, deleted from litemall_user
    </sql>

    <select id="selectLitemallUserList" parameterType="LitemallUser" resultMap="LitemallUserResult">
        <include refid="selectLitemallUserVo"/>
        <where>  
            <if test="username != null  and username != ''"> and username like concat('%', #{username}, '%')</if>
            <if test="password != null  and password != ''"> and password = #{password}</if>
            <if test="gender != null "> and gender = #{gender}</if>
            <if test="birthday != null "> and birthday = #{birthday}</if>
            <if test="lastLoginTime != null "> and last_login_time = #{lastLoginTime}</if>
            <if test="lastLoginIp != null  and lastLoginIp != ''"> and last_login_ip = #{lastLoginIp}</if>
            <if test="userLevel != null "> and user_level = #{userLevel}</if>
            <if test="nickname != null  and nickname != ''"> and nickname like concat('%', #{nickname}, '%')</if>
            <if test="mobile != null  and mobile != ''"> and mobile = #{mobile}</if>
            <if test="avatar != null  and avatar != ''"> and avatar = #{avatar}</if>
            <if test="weixinOpenid != null  and weixinOpenid != ''"> and weixin_openid = #{weixinOpenid}</if>
            <if test="sessionKey != null  and sessionKey != ''"> and session_key = #{sessionKey}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="addTime != null "> and add_time = #{addTime}</if>
            <if test="deleted != null "> and deleted = #{deleted}</if>
        </where>
    </select>
    
    <select id="selectLitemallUserById" parameterType="Long" resultMap="LitemallUserResult">
        <include refid="selectLitemallUserVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertLitemallUser" parameterType="LitemallUser" useGeneratedKeys="true" keyProperty="id">
        insert into litemall_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="username != null  and username != ''">username,</if>
            <if test="password != null  and password != ''">password,</if>
            <if test="gender != null ">gender,</if>
            <if test="birthday != null ">birthday,</if>
            <if test="lastLoginTime != null ">last_login_time,</if>
            <if test="lastLoginIp != null  and lastLoginIp != ''">last_login_ip,</if>
            <if test="userLevel != null ">user_level,</if>
            <if test="nickname != null  and nickname != ''">nickname,</if>
            <if test="mobile != null  and mobile != ''">mobile,</if>
            <if test="avatar != null  and avatar != ''">avatar,</if>
            <if test="weixinOpenid != null  and weixinOpenid != ''">weixin_openid,</if>
            <if test="sessionKey != null  and sessionKey != ''">session_key,</if>
            <if test="status != null ">status,</if>
            <if test="addTime != null ">add_time,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="deleted != null ">deleted,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="username != null  and username != ''">#{username},</if>
            <if test="password != null  and password != ''">#{password},</if>
            <if test="gender != null ">#{gender},</if>
            <if test="birthday != null ">#{birthday},</if>
            <if test="lastLoginTime != null ">#{lastLoginTime},</if>
            <if test="lastLoginIp != null  and lastLoginIp != ''">#{lastLoginIp},</if>
            <if test="userLevel != null ">#{userLevel},</if>
            <if test="nickname != null  and nickname != ''">#{nickname},</if>
            <if test="mobile != null  and mobile != ''">#{mobile},</if>
            <if test="avatar != null  and avatar != ''">#{avatar},</if>
            <if test="weixinOpenid != null  and weixinOpenid != ''">#{weixinOpenid},</if>
            <if test="sessionKey != null  and sessionKey != ''">#{sessionKey},</if>
            <if test="status != null ">#{status},</if>
            <if test="addTime != null ">#{addTime},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="deleted != null ">#{deleted},</if>
         </trim>
    </insert>

    <update id="updateLitemallUser" parameterType="LitemallUser">
        update litemall_user
        <trim prefix="SET" suffixOverrides=",">
            <if test="username != null  and username != ''">username = #{username},</if>
            <if test="password != null  and password != ''">password = #{password},</if>
            <if test="gender != null ">gender = #{gender},</if>
            <if test="birthday != null ">birthday = #{birthday},</if>
            <if test="lastLoginTime != null ">last_login_time = #{lastLoginTime},</if>
            <if test="lastLoginIp != null  and lastLoginIp != ''">last_login_ip = #{lastLoginIp},</if>
            <if test="userLevel != null ">user_level = #{userLevel},</if>
            <if test="nickname != null  and nickname != ''">nickname = #{nickname},</if>
            <if test="mobile != null  and mobile != ''">mobile = #{mobile},</if>
            <if test="avatar != null  and avatar != ''">avatar = #{avatar},</if>
            <if test="weixinOpenid != null  and weixinOpenid != ''">weixin_openid = #{weixinOpenid},</if>
            <if test="sessionKey != null  and sessionKey != ''">session_key = #{sessionKey},</if>
            <if test="status != null ">status = #{status},</if>
            <if test="addTime != null ">add_time = #{addTime},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
            <if test="deleted != null ">deleted = #{deleted},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteLitemallUserById" parameterType="Long">
        delete from litemall_user where id = #{id}
    </delete>

    <delete id="deleteLitemallUserByIds" parameterType="String">
        delete from litemall_user where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>