<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.shop.mapper.LitemallSearchHistoryMapper">

    <resultMap type="LitemallSearchHistory" id="LitemallSearchHistoryResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="keyword"    column="keyword"    />
        <result property="from_type"    column="fromType"    />
        <result property="addTime"    column="add_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="deleted"    column="deleted"    />
    </resultMap>

    <sql id="selectLitemallSearchHistoryVo">
        select id, user_id, keyword, from_type, add_time, update_time, deleted from litemall_search_history
    </sql>

    <select id="selectLitemallSearchHistoryList" parameterType="LitemallSearchHistory" resultMap="LitemallSearchHistoryResult">
        <include refid="selectLitemallSearchHistoryVo"/>
        <where>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="keyword != null  and keyword != ''"> and keyword = #{keyword}</if>
            <if test="fromType != null  and fromType != ''"> and from_type = #{fromType}</if>
            <if test="addTime != null "> and add_time = #{addTime}</if>
            <if test="deleted != null "> and deleted = #{deleted}</if>
        </where>
    </select>

    <select id="selectLitemallSearchHistoryById" parameterType="Long" resultMap="LitemallSearchHistoryResult">
        <include refid="selectLitemallSearchHistoryVo"/>
        where id = #{id}
    </select>

    <insert id="insertLitemallSearchHistory" parameterType="LitemallSearchHistory" useGeneratedKeys="true" keyProperty="id">
        insert into litemall_search_history
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null ">user_id,</if>
            <if test="keyword != null  and keyword != ''">keyword,</if>
            <if test="fromType != null  and fromType != ''">from_type,</if>
            <if test="addTime != null ">add_time,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="deleted != null ">deleted,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null ">#{userId},</if>
            <if test="keyword != null  and keyword != ''">#{keyword},</if>
            <if test="fromType != null  and fromType != ''">#{fromType},</if>
            <if test="addTime != null ">#{addTime},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="deleted != null ">#{deleted},</if>
         </trim>
    </insert>

    <update id="updateLitemallSearchHistory" parameterType="LitemallSearchHistory">
        update litemall_search_history
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null ">user_id = #{userId},</if>
            <if test="keyword != null  and keyword != ''">keyword = #{keyword},</if>
            <if test="fromType != null  and fromType != ''">from_type = #{fromType},</if>
            <if test="addTime != null ">add_time = #{addTime},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
            <if test="deleted != null ">deleted = #{deleted},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteLitemallSearchHistoryById" parameterType="Long">
        delete from litemall_search_history where id = #{id}
    </delete>

    <delete id="deleteLitemallSearchHistoryByIds" parameterType="String">
        delete from litemall_search_history where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>
