<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.shop.mapper.LitemallCouponUserMapper">
    
    <resultMap type="LitemallCouponUser" id="LitemallCouponUserResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="couponId"    column="coupon_id"    />
        <result property="status"    column="status"    />
        <result property="usedTime"    column="used_time"    />
        <result property="startTime"    column="start_time"    />
        <result property="endTime"    column="end_time"    />
        <result property="orderId"    column="order_id"    />
        <result property="addTime"    column="add_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="deleted"    column="deleted"    />
    </resultMap>

    <sql id="selectLitemallCouponUserVo">
        select id, user_id, coupon_id, status, used_time, start_time, end_time, order_id, add_time, update_time, deleted from litemall_coupon_user
    </sql>

    <select id="selectLitemallCouponUserList" parameterType="LitemallCouponUser" resultMap="LitemallCouponUserResult">
        <include refid="selectLitemallCouponUserVo"/>
        <where>  
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="couponId != null "> and coupon_id = #{couponId}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="usedTime != null "> and used_time = #{usedTime}</if>
            <if test="startTime != null "> and start_time = #{startTime}</if>
            <if test="endTime != null "> and end_time = #{endTime}</if>
            <if test="orderId != null "> and order_id = #{orderId}</if>
            <if test="addTime != null "> and add_time = #{addTime}</if>
            <if test="deleted != null "> and deleted = #{deleted}</if>
        </where>
    </select>
    
    <select id="selectLitemallCouponUserById" parameterType="Long" resultMap="LitemallCouponUserResult">
        <include refid="selectLitemallCouponUserVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertLitemallCouponUser" parameterType="LitemallCouponUser" useGeneratedKeys="true" keyProperty="id">
        insert into litemall_coupon_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null ">user_id,</if>
            <if test="couponId != null ">coupon_id,</if>
            <if test="status != null ">status,</if>
            <if test="usedTime != null ">used_time,</if>
            <if test="startTime != null ">start_time,</if>
            <if test="endTime != null ">end_time,</if>
            <if test="orderId != null ">order_id,</if>
            <if test="addTime != null ">add_time,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="deleted != null ">deleted,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null ">#{userId},</if>
            <if test="couponId != null ">#{couponId},</if>
            <if test="status != null ">#{status},</if>
            <if test="usedTime != null ">#{usedTime},</if>
            <if test="startTime != null ">#{startTime},</if>
            <if test="endTime != null ">#{endTime},</if>
            <if test="orderId != null ">#{orderId},</if>
            <if test="addTime != null ">#{addTime},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="deleted != null ">#{deleted},</if>
         </trim>
    </insert>

    <update id="updateLitemallCouponUser" parameterType="LitemallCouponUser">
        update litemall_coupon_user
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null ">user_id = #{userId},</if>
            <if test="couponId != null ">coupon_id = #{couponId},</if>
            <if test="status != null ">status = #{status},</if>
            <if test="usedTime != null ">used_time = #{usedTime},</if>
            <if test="startTime != null ">start_time = #{startTime},</if>
            <if test="endTime != null ">end_time = #{endTime},</if>
            <if test="orderId != null ">order_id = #{orderId},</if>
            <if test="addTime != null ">add_time = #{addTime},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
            <if test="deleted != null ">deleted = #{deleted},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteLitemallCouponUserById" parameterType="Long">
        delete from litemall_coupon_user where id = #{id}
    </delete>

    <delete id="deleteLitemallCouponUserByIds" parameterType="String">
        delete from litemall_coupon_user where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>