<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.shop.mapper.LitemallGoodsSpecificationMapper">

    <resultMap type="LitemallGoodsSpecification" id="LitemallGoodsSpecificationResult">
        <result property="id"    column="id"    />
        <result property="goodsId"    column="goods_id"    />
        <result property="specification"    column="specification"/>
        <result property="value"    column="value"    />
        <result property="picUrl"    column="pic_url"    />
        <result property="addTime"    column="add_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="deleted"    column="deleted"    />
    </resultMap>

    <sql id="selectLitemallGoodsSpecificationVo">
        select id, goods_id, specification, value, pic_url, add_time, update_time, deleted from litemall_goods_specification
    </sql>

    <select id="selectLitemallGoodsSpecificationList" parameterType="LitemallGoodsSpecification" resultMap="LitemallGoodsSpecificationResult">
        <include refid="selectLitemallGoodsSpecificationVo"/>
        <where>
            <if test="goodsId != null "> and goods_id = #{goodsId}</if>
            <if test="specification != null and specification != ''"> and specification = #{specification}</if>
            <if test="value != null  and value != ''"> and value = #{value}</if>
            <if test="picUrl != null  and picUrl != ''"> and pic_url = #{picUrl}</if>
            <if test="addTime != null "> and add_time = #{addTime}</if>
            <if test="deleted != null "> and deleted = #{deleted}</if>
        </where>
    </select>

    <select id="selectLitemallGoodsSpecificationById" parameterType="Long" resultMap="LitemallGoodsSpecificationResult">
        <include refid="selectLitemallGoodsSpecificationVo"/>
        where id = #{id}
    </select>

    <select id="queryByGid" parameterType="Long" resultMap="LitemallGoodsSpecificationResult">
        <include refid="selectLitemallGoodsSpecificationVo"/>
        where goods_id = #{goodsId}
    </select>

    <insert id="insertLitemallGoodsSpecification" parameterType="LitemallGoodsSpecification" useGeneratedKeys="true" keyProperty="id">
        insert into litemall_goods_specification
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="goodsId != null ">goods_id,</if>
            <if test="specification != null and specification != ''">specification,</if>
            <if test="value != null  and value != ''">value,</if>
            <if test="picUrl != null  and picUrl != ''">pic_url,</if>
            <if test="addTime != null ">add_time,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="deleted != null ">deleted,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="goodsId != null ">#{goodsId},</if>
            <if test="specification != null and specification != ''">#{specification},</if>
            <if test="value != null  and value != ''">#{value},</if>
            <if test="picUrl != null  and picUrl != ''">#{picUrl},</if>
            <if test="addTime != null ">#{addTime},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="deleted != null ">#{deleted},</if>
         </trim>
    </insert>

    <update id="updateLitemallGoodsSpecification" parameterType="LitemallGoodsSpecification">
        update litemall_goods_specification
        <trim prefix="SET" suffixOverrides=",">
            <if test="goodsId != null ">goods_id = #{goodsId},</if>
            <if test="specification != null and specification != ''">specification = #{specification},</if>
            <if test="value != null  and value != ''">value = #{value},</if>
            <if test="picUrl != null  and picUrl != ''">pic_url = #{picUrl},</if>
            <if test="addTime != null ">add_time = #{addTime},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
            <if test="deleted != null ">deleted = #{deleted},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteLitemallGoodsSpecificationById" parameterType="Long">
        delete from litemall_goods_specification where goods_id = #{goodsId}
    </delete>

    <delete id="deleteLitemallGoodsSpecificationByIds" parameterType="String">
        delete from litemall_goods_specification where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>
